/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Container and Centering */
.container {
    animation: fadeIn 1s ease;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.message {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #cccccc;
}

.redirect-message {
    font-size: 0.9rem;
    color: #999999;
    animation: blink 1.5s infinite;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}
